body {
    font-family: 'Montserrat', sans-serif;
    
  }

/* Title */

.container{
    position: relative;
    width: 100%;
    text-align: center;
    color: white;
} 
.mySlides {
    display:none;
    width: 100%;
    opacity:0.5;
    height: 35rem;
    }
    
.centered {
    text-align: center;
    
    color: #0f0a2e;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* end title */



.row{
   padding: 30px;
}

.image{
    padding-top: 3rem;
    padding-left: 2rem;
}



h2{
    padding: 20px;
    color: navy;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}
/* Our Services */
.column {
      float: left;
      width: 30%;
      padding: 10px;
      border-radius:20px;
      margin: 10px;
      height: 300px;
      transition: all 1s;
    }
    .column:hover{
        transform: scale(1.05);
    }
    .text{
        color: white;
        padding-top:100px ;
    }
    
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    
    
    
    @media screen and (max-width: 559px) {
      .row{
          margin-left: auto;
      }
        .column {
        width: 100%;
        height: auto;
        margin-left: auto;

      }
    }

    @media screen and (min-width:600px) and (max-width:900px) {
        .row{
            margin-left: auto;
        }
        .column{
            width:100%;
            height: auto;
            margin-left: auto;
        }
    }
 /* end Our Services */

/* portfolio */



.container-portfolio {
    padding: 1% 1% 0% 1%;
    background: #ddd;
}
.container-portfolio:after {
    content: '';
    display: inline-block;
    width: 100%;
}



.box {
    width: 96%;
    margin:2%;
    padding-bottom: 96%;
    height: 2rem;
    position: relative;
    float: left;
    cursor: pointer;
    overflow: hidden;

    
}

.box:after {
    content: '';
    position: absolute;
    background-color: #000;
    opacity:0;
    z-index: 55;
    width: 100%;
    height: 100%;
    -webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    -ms-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out;
}

.box:hover::after {
    background-color: #000;
    opacity:.7;
}

.container-portfolio .box .caption {
    position: absolute;
    z-index: 60;
    width: 90%;
    margin-left: 5%;
    top: 50%;
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    -ms-transform: scale(3);
    -o-transform: scale(3);
    transform: scale(3);
    text-align: center;
    -webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    -ms-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out;
    font: 1.4em normal Arial, sans-serif;
    color: #fff;
    opacity: 0;
}

.box:hover .caption {
    -webkit-transform: scale(1) translate(0%, -50%);
    -moz-transform: scale(1) translate(0%, -50%);
    -ms-transform: scale(1) translate(0%, -50%);
    -o-transform: scale(1) translate(0%, -50%);
    transform: scale(1) translate(0%, -50%);
    opacity: 1;
}

.box img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 50;
    -webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    -ms-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out;
}

.box:hover img {
height: 150%;
}


@media all and (min-width: 350px){
.container-portfolio .box{
    width: 48%;
    margin:1%;
    padding-bottom:48%;
}
}

@media all and (min-width: 800px){
.container-portfolio .box{
    width: 31.3333%;
    padding-bottom:30%;
}
}
@media all and (min-width: 1200px){
.container-portfolio .box{
    width: 23%;
    padding-bottom:23%;
}
}

/* end portfolio */


/* contact */
h4{
    text-align:center;
    color: #fff;
}
ul{
    color: #fff;
    list-style-type: none;
    text-align: center;
}
li:hover{
    color:#ddd;
}
    

    .column-contact {
      float: left;
      width: 25%;
      padding: 10px;
      height: 200px;
        }
    
    
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    
    @media screen and (max-width: 600px) {
        .column-contact {
        width: 100%;
      }
    }

/*maps */
.column-map{
    width: 45%;
}


/* footer */
footer {
    text-align: center;
    padding: 3px;
    background-color: #d7dadd;
    color: black;
  }
